src/main/resources/routings/customer/customer-response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="customerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customerName" type="xs:string" />
				<xs:element name="customerId" type="xs:string" />
				<xs:element name="address">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="country" type="xs:string" />
							<xs:element name="state" type="xs:string" />
							<xs:element name="city" type="xs:string" />
							<xs:element name="pincode" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="isCustomerValid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>