src/main/resources/routings/customer/customer-request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="customerName"/>
        <xs:element type="xs:string" name="customerId"/>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:string" name="state"/>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:string" name="pincode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>